
  <div class="home-pg-bg">
    <div class="container">
    <div class="row main-txt">
    <div class="col-md-8 col-md-offset-2">
           <h1 class="text-center">Hello. Ei admodum insolens postulant sit. Per ipsum civibus consetetur ei.</h1>
         <p class="text-center home-pg-btn"> <%= link_to 'View Work', portfolio_path, class: "btn" %> </p>
    </div>
    </div>
    </div>
 </div>

