<div class="main home">
  <div class="jumbotron">
      <div class="container">
          <h2>Hello. My name is Alex</h2>
          <%= button_to "View My Work", "#", class: "btn btn-right" %>
      </div>
  </div>
</div>

